{% extends "main/base.html" %}

{% block content %}
<div class="container">
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Gallery</h1>
  <hr class="mt-2 mb-5">
  <div class="row text-center text-lg-left">

   {% for post in posts %}
        <div class="col-lg-3 col-md-4 col-6">
          <a class="d-block mb-4 h-100" data-toggle="modal" href="#gallery_popup_{{ post.id }}">
                <div class="portfolio-hover">
                <div class="portfolio-hover-content">
            </div>
            </div>
                <img class="img-fluid img-thumbnail" src="{{ post.image.url }}" alt="">
              </a>
        </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}



{% block modal %}
  {% for post in posts %}
      <div class="portfolio-modal modal fade" id="gallery_popup_{{ post.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="close-modal text-right mr-4 bt-4" data-dismiss="modal">X</div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h3>{{ post.title }}</h3>
                    <p class="text-mute">{{ post.body }}</p>
                    <img class="img-fluid d-block mx-auto" src="{{ post.image.url }}" alt="">
                    {% if post.price %}
                    <p class="text-mute"> Price: {{ post.price }}</p>
                    {% endif %}

                {% if post.author == user %}
                  <div class="container">
                    <a class="btn btn-secondary btn-m mb-1 mt-1" href="{% url 'gallery-post-update' post.id %}">Update</a>
                    <a class="btn btn-danger btn-m mb-1 mt-1" href="{% url 'gallery-post-delete' post.id %}">Delete</a>
                  </div>
                {% endif %}

                    <button class="btn" data-dismiss="modal" type="button">
                      <i class="fas fa-times"></i>
                      Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock modal %}
