{% extends "main/base.html" %}
{% block content %}

    {% for post in posts %}
        <div class="media blog-content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2 ml-2" href="#">{{ post.author }}</a>

            </div>
            <!-- links the post to the "post-detail" page based on the post id (aka pk),
            the 'blog-post-detail' name is from the urls.py file, what you name the url pattern -->
            <h2><a class="article-title" href="{% url 'blog-post-detail' post.id %}">{{ post.title }}</a></h2>


            {% if post.body|length > 450 %}
                <p class="mb-4">
                    {{post.body|truncatechars:450}}
                    <a href="{% url 'blog-post-detail' post.id %}">Read more...</a>
                </p>

            {% else %}
                <p class="article-content mb-4">{{ post.body|safe|linebreaks }}</p>

            {% endif %}

          </div>
          </div>
      {% endfor %}

{% endblock content %}
